<div class="container">
	<div class="row">
		<h2 class="form-group row" ><%= t('island.new.title') %></h2>

		<%= render 'form' %>

		<div class="form-group row">
			<%= link_to 'Retour', islands_path %>
		</div>
	</div>
</div>
