<div class="container">
	<div class="row">
		<h2 class="form-group row" ><%= t('island.new.title') %></h2>

		<%= render 'form' %>

		<p class="form-group row">
			<%= link_to 'Back', islands_path %>
		</p>
	</div>
</div>