<h2><%= @island.title %></h2>
<% if user_signed_in? && current_user.id == @island.user_id %>
  <div><%= link_to 'Edit', edit_island_path %></div>
<% end %>

<p><%= @island.description %></p>

<%= link_to 'Back', islands_path %>
