<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= I18n.locale %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <%= link_to 'French', root_path(locale: :fr), class: 'dropdown-item' %>
    <%= link_to 'English', root_path(locale: :en), class: 'dropdown-item' %>
  </div>
</li>
