<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
  	<%= link_to 'French', root_path(locale: :fr), class: 'nav-link' %>
  </li>
  <li class="nav-item active">
  	<%= link_to 'English', root_path(locale: :en), class: 'nav-link' %>
  </li>
</ul>
