<h2>Mes réservations</h2>
<% @bookings.each do |booking| %>
  <div>
    <span><%= booking.island.title %></span>
    <span><%= l booking.start_date %> - <%= l booking.end_date %></span>
    <span><%= link_to("Show island", island_path(booking.island)) %></span>
  </div>
<% end %>
