// Place all the styles related to the Island controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 4vh;
}

.island {
  &__filter-button {
    cursor: pointer;
  }

  &__booking {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
  }
}

.list-group-item {
  display: flex;
  justify-content: space-between
}
